.center {
  text-align: center;
}

.headerColor{
  --background: #0f477a;
}

.textItems {
  white-space: normal;
  font-family: 'Roboto', sans-serif;
  font-style: 'Regular';
  color: black;
}

.title {
  white-space: normal;
  font-family: 'Roboto', sans-serif;
  font-style: 'Regular';
  fill: solid;
  text-align: center;
  color: black;
}

.colorText{
  color: black;
}

.card {
  margin: 20px auto;
  width: 70%;
  min-width: 200px;
  background-color: white;
}

.listItems{
  --ion-item-background: white;
}

.whiteColor{
  background-color: white;
}

.top-margin {
  margin-top: 30px;
}

.grid {
  width: 100%;
  grid-template-columns: 50% 50%;
}

.buttonsItems {
  float: right;
  padding-right: 10px;
  vertical-align: Center;
}

ion-content {
  --ion-background-color:#E5E5E5;
}