<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class='card'>
    <ion-card-header>
      <ion-card-title class='title'>Ingresar nuevo producto</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <form [formGroup]="ProductForm">
        <ion-list class='listItems'>
          
          <!--  Code input -->
          <ion-item>
            <ion-label class="colorText" position="floating"><ion-icon name="pricetag-outline"></ion-icon>Escriba el código</ion-label>
            <ion-input class="colorText" formControlName="codigo" type="text" placeholder="Escriba el código aquí"></ion-input>
          </ion-item>

          <!-- Validation incorrect -->
          <ion-text *ngIf="!ProductForm.get('codigo').valid && ProductForm.get('codigo').touched" color="danger">
            <p>Es necesario escribir el código. </p>
          </ion-text>

           <!--  Name input -->
           <ion-item>
            <ion-label class="colorText" position="floating"><ion-icon name="pencil-outline"></ion-icon>Escriba el nombre</ion-label>
            <ion-input class="colorText" formControlName="nombre" type="text" placeholder="Escriba el nombre aquí"></ion-input>
          </ion-item>

          <!-- Validation incorrect -->
          <ion-text *ngIf="!ProductForm.get('nombre').valid && ProductForm.get('nombre').touched" color="danger">
            <p>Es necesario escribir un nombre. </p>
          </ion-text>

           <!--  Count input -->
           <ion-item>
            <ion-label class="colorText" position="floating"><ion-icon name="bar-chart-outline"></ion-icon>Escriba la cantidad</ion-label>
            <ion-input class="colorText" (keypress)="numberOnlyValidation($event)" formControlName="cantidad" type="number" placeholder="Escriba la cantidad aquí"></ion-input>
          </ion-item>

          <!-- Validation incorrect -->
          <ion-text *ngIf="!ProductForm.get('cantidad').valid && ProductForm.get('cantidad').touched" color="danger">
            <p>Es necesario escribir una cantidad valida. </p>
          </ion-text>

        </ion-list>
      </form>
      <!--  Login button -->
      <ion-button mode="ios" size="large" class="top-margin" expand="full" color="primary" (click)="addProduct()">
        Agregar producto
      </ion-button>
      <br><br>
      
      <ion-card-title class='title'>Lista de Productos</ion-card-title>
      <ion-list class='listItems'>
        <ion-item  *ngFor="let product of productList">
          <ion-grid class="grid">
            <ion-row class="grid">
              <ion-col>
                <ion-label class="textItems">Código: {{product.codigo}}</ion-label>
                <ion-label class="textItems">{{product.nombre}}</ion-label>
                <ion-label class="textItems">Cantidad: {{product.cantidad}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-icon size="large" color="danger" class="textItems buttonsItems" name="trash" (click)='presentAlertDelete(product.codigo)'></ion-icon>
                <ion-icon size="large" color="primary" class="textItems buttonsItems" name="create"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
