ion-content {
    --ion-background-color:#E5E5E5;
}

.card {
    min-width: 200px;
    background-color: white
}

.headerColor{
    --background: #0f477a;
}

.top-margin {
    margin-top: 30px;

}

.colorText{
    color: black;
}

.listItems{
    --ion-item-background: white;
}
  